@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pinned-trigger img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

.pinned-trigger h1 {
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: -0.1rem;
  line-height: 1.25;
}

.pinned-trigger p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.25;
}

.pinned-trigger section {
  position: relative;
  width: 100vw;
  background-color: #0f0f0f;
  color: #fff;
}

.pinned-intro,
.pinned-outro {
  height: 100svh;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pinned-intro h1,
.pinned-outro h1 {
  width: 60%;
  text-align: center;
  line-height: 1.1;
}

.pinned-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 25svh;
}

.pinned-card-marquee {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  overflow: hidden;
}

.pinned-card-marquee .marquee {
  display: flex;
}

.pinned-card-marquee .marquee h1 {
  white-space: nowrap;
  font-size: 10vw;
  font-weight: 600;
  margin-right: 30px;
}

.pinned-card {
  position: relative;
  width: 100vw;
  height: 100svh;
  padding: 1.5em;
}

.pinned-card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.pinned-card-img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 150px;
  overflow: hidden;
}

.pinned-card-img img {
  transform: scale(2);
}

.pinned-card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.pinned-card-content .pinned-card-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pinned-card-content .pinned-card-description {
  text-align: center;
  width: 40%;
  margin-bottom: 3em;
  position: relative;
  transform: translateX(40px);
  opacity: 0;
}

.pinned-card:nth-child(2) {
  margin-top: 50vh;
}

.pinned-char {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.pinned-char span {
  transform: translateX(100%);
  display: inline-block;
  will-change: transform;
}

@media (max-width: 900px) {
  .pinned-trigger h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  .pinned-intro h1,
  .pinned-outro h1 {
    width: 100%;
  }

  .pinned-card-content .pinned-card-description {
    width: 90%;
  }
}
