@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.reveal-block {
  opacity: 1;
}

.menu-block {
  clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
}

.intro,
.outro {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #101214;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  overflow: hidden;
}

.work {
  position: relative;
  width: 100vw;
  overflow: hidden;
  /* background-color: #1a1d20; */
}

.work img {
  height: 35rem;
  width: 100%;
  object-fit: cover;
}

.lookbook-row {
  width: 100vw;
  display: flex;
}

.lookbook-col {
  flex: 1;
  aspect-ratio: 1;
}

.img {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.img[data-origin="left"] {
  transform-origin: 0% 0%;
}

.img[data-origin="right"] {
  transform-origin: 100% 0%;
}

.signal-line-link {
  position: relative;
  overflow-x: hidden;
}

.signal-line-link::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #eee;
  bottom: 2px;
  left: 0;
  transform: translateX(-120%);
  transition: 0.5s;
}

.signal-line-link:hover::before {
  transform: translateX(0%);
}

.line-bottom {
  position: relative;
  overflow-x: hidden;
}

.line-bottom::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #b3ec11;
  bottom: 0;
  left: 0;
  transform: translateX(-120%);
  transition: 0.8s;
}

.line-bottom:hover::before {
  transform: translateX(0%);
}

.line-bottom:hover .rotate-icon {
  transform: rotate(-45deg);
  transition: 0.5s;
}

.rotate-icon {
  transition: 0.5s;
}

.show-social-image > div {
  opacity: 0 !important;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.show-social-image span:hover + div {
  opacity: 1 !important;
}

@media (max-width: 700px) {
  .lookbook-row {
    /* display: block; */
  }
  .lookbook-col {
    /* aspect-ratio: 0; */
  }
  .work img {
    height: 20rem;
  }
}
